// color variables
$color-lime-dark :#194E48;
$color-lime : #98BA7D;
$color-lime-light: #D6EfC7;
$color-yellow-custard : #FBD686;

$breakpoint: (
    sm : 576px,
    md : 768px,
    lg : 992px,
    xl : 1200px,
    fluid : 1400px,
    tv : 1900px,
);
